body {
  font-family: "Roboto Mono", monospace;
  min-height: 50rem;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 10vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-logo {
  max-width: 200px;
}

/* ---- Placar ---- */

.placar {
  margin-top: 0.5rem;
  align-self: center;
  border: 1px solid #f1d178;
  width: 11rem;
  height: 7rem;
}

.placar h3 {
  display: inline-block;
  color: #ffffff;
  padding: 0 1rem;
  font-size: 20px;
}

.placar h4 {
  display: inline-block;
  color: #ffffff;
  padding: 0 1.8rem;
  font-size: 20px;
}

.placar h2,
.placar h3,
.placar h4 {
  margin: 0.3rem 0;
}

/* ---- Fim do placar ---- */

#carta-jogador,
#carta-maquina {
  width: 360px;
  height: 450px;
  margin-bottom: 20px;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  position: relative;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 10px;
  text-align: left;
}

.page-title {
  color: #ffffff;
  margin: 5px 0;
}

button,
.button-jogar {
  padding: 0.8rem 0;
  width: 10rem;
  margin: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;

  cursor: pointer;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  color: white;
}

.carta-status {
  height: 160px;
  margin: 1rem;
  color: white;
  z-index: 2;
}

.carta-status input {
  margin: 20px 10px;
}

.--spacing {
  margin-left: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#cartas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carta-status p {
  margin-bottom: 2rem;
}

.radioBtn {
  transform: translateY(2px);
  margin-top: 10px;
  accent-color: #f1d178;
}

.atributosCartaMaquina {
  margin: 0;
  padding: 8.5px 3px 0 5px;
}

#resultado {
  color: white;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 1rem;
  background: #682f1d;
  height: 4rem;
  width: 40rem;
  border-radius: 15px;
}

#resultado p {
  align-self: center;
}

/* ---- Estilização da moldura dos cards ---- */
.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 8px solid #f1d178;
  background: #682f1d;
  opacity: 90%;
  width: 18.75rem;
  height: 26.75rem;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #4f4f4f;
}

.card h2 {
  position: absolute;
  display: inline-block;
  background: #40130e;
  width: 15.62rem;
  border-radius: 0 10px 10px 0;
  padding: 2px 0 2px 15px;

  text-align: left;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
}

.img-card {
  margin: 1.87rem 1.87rem 0 1.87rem;
  height: 11.25rem;
  width: 13.87rem;
  border-radius: 5px;
}

.body-card {
  margin-left: 1.87rem;
  border-radius: 5px;
  margin-top: 0.9rem;
  height: 10rem;
  width: 13.87rem;
  background: #9a532a;
}

/* ---- Responsividade ---- */
@media (max-width: 960px) {
  .page-title,
  form h2 {
    font-size: 20px;
  }

  #carta-jogador,
  #carta-maquina {
    height: 340px;
    width: 300px;
    font-size: 12px;
  }

  .card {
    width: 15rem;
    height: 21rem;
    border: 5px solid #f1d178;
  }

  .card h2 {
    width: 11.5rem;
    font-size: 1rem;
    border-radius: 0 8px 8px 0;
  }

  .img-card {
    margin: 1.87rem 1.87rem 0 1.87rem;
    height: 8rem;
    width: 10rem;
  }

  .body-card {
    margin-top: 0.7rem;
    height: 9rem;
    width: 10rem;
    background: #9a532a;
  }

  .placar {
    width: 9rem;
    height: 6rem;
  }

  .placar h2 {
    font-size: 18px;
  }

  .placar h3,
  .placar h4 {
    font-size: 16px;
  }

  .placar h3 {
    padding: 0 0.7rem;
  }

  .placar h4 {
    padding: 0 1.5rem;
  }

  button,
  .button-jogar {
    width: 8rem;
    font-size: 0.8rem;
  }

  #resultado {
    font-size: 16px;
    height: 3.2rem;
    width: 50%;
  }

  .atributosCartaMaquina {
    margin: 0;
    padding: 12px 3px 0 5px;
  }
}